# dependencies
node_modules/
*/node_modules/

# expo & build
.expo/
*/.expo/
dist/
web-build/
*.tsbuildinfo

# environment & secrets
.env
.env.*
!.env.example

# debug & logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db
